<div class="row">
<div class="small-12 small-centered columns">
<%= image_tag 'home_background.png' %>
</div>
</div>
<div class="row panel radius" id="easySteps">
<div class="small-3 columns text-center"><%= image_tag '3_easy_steps.png' %></div>
<div class="small-3 columns esDiv vcSteps">Create an account</div>
<div class="small-3 columns esDiv vcSteps">Upload an image</div>
<div class="small-3 columns vcSteps">Purchase an item</div>
</div>