<div id="footer">
<div class="row">
<div class="large-6 large-centered columns">
<p class="text-center">&copy; Fuji Store 2014. All rights reserved</p>
<ul class="button-group radius">
<li><%= link_to "Home", '#', :class => 'tiny button secondary' %></li>
<li><%= link_to "Catalog", '#', :class => 'tiny button secondary' %></li>
<li><%= link_to "About Us", '#', :class => 'tiny button secondary' %></li>
<li><%= link_to "Contact", '#', :class => 'tiny button secondary' %></li>
</ul>
</div>
</div>
</div>